{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trouv'tout - {{ titre }}</title>
    {# <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">--> #}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static 'base/css/OverlayScrollbars.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'base/css/adminlte.min.css' %}">
</head>