{% extends 'base.html' %}

{% block body %}
    <div class="row mb-2"></div>

    <div class="error-page">
        <h2 class="headline text-warning">403</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Bip ! Accès interdit !</h3>

            <p>
                Hé, qu'est-ce que vous faites ici ? Cet espace est interdit aux individus non autorisés !
                Effectivement, vous n'avez pas le droit d'accéder à cette page.
                <br>
                Non, vous n'irez pas en prison pour avoir tenté d'enfreindre les règles, mais ce que
                vous pouvez faire à la place est de se rendre à l'<a href="/">écran d'accueil</a>.
            </p>
        </div>
    </div>
{% endblock %}