<!DOCTYPE html>
<html lang="fr">
{% include 'structure/header.html' %}

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    {% include 'structure/navbar.html' %}
    <div class="content-wrapper">
        {% if titre %}
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ titre }}</h1>
                    </div><!-- /.col -->
                    {% comment %}
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                    {% endcomment %}
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        {% endif %}
        <section class="content">
            <div class="container-fluid">
                {% block body %}
                {% endblock %}
            </div>
        </section>
    </div>
    {% include 'structure/footer.html' %}
</div>
{% include 'structure/scripts.html' %}
</body>
</html>